/* admin login pages here */
.admin_page{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.admin_submit{
    border-style: none !important;
    height:40px !important;
    padding-left: 25px;
    padding-right: 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-left: 25px;
}

.admin_passcode_input{
    height: 40px ;
    border-color: #A0A0A0 !important;
    border-width: 1px;
    border-radius: 5px;
}




/*sidebar */
.page_with_sidebar{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    width:310px;
    background-color: black;
}
.sidebar_heading{
    font-family: Oswald, sans-serif;
     font-weight: 500;
      line-height: 1em;
       color: #A0A0A0;
        font-size: 31px;
         text-align: center;
          text-transform: uppercase;
           display: block;
           margin-top: 40px;
           margin-bottom: 40px;
}

.menu_item_box{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.menu_item{
    list-style-type: none;
    color:white;
    height:40px;
    background-color: #222222;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.homepage_table{
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.sidebar_children{
    flex:1;
    padding:25px;
}


.homepage_table>tr{
    height:55px
    
}

.homepage_table>tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* editor */
  .editor_gridcontainer{
      display: grid;
      grid-template-columns: 310px 310px;
      gap:10px;
  }

.editor_flex{
    width:670px;
}  

.suneditor{
    height:400px !important;
}

.editor_flex{
    display:flex;
    gap:100px;
}

.editor-table>tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.editor-table-head{
    width:250px;
    height:40px
}
.editor-table-body{
    max-height:100px !important;
   max-width:250px !important;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editor-table-body-image{
    height:82px;
    width:100px
}

.global-values{
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 100px;
}

/*menulisting */
.menulisting-table{
  border-style: solid;
  border-width: 4px;
  
}
.menulisting-head{
    width:250px;
    height:40px;
}
.menulisting-body{
    width:250px;
    height:40px;
}


/*pages*/

.alink-flexcontainer{
   display: flex;
   gap:70px; 
}

.alink-sideleft{
    width:550px
}

